.a-style{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
    a {
        color: black;
        text-decoration: none;
        &:hover {
            color: #7D1128;
            text-decoration: none;
        }
    } 
    .icon {
        color: black;
        font-size: 1.4rem;
        margin-right: 1.3rem;
        &:last-child {
            margin-right: 0px;
        }
        &:hover {
                color: #7D1128;
            }
    } 
}